*{
    margin: 0;
    padding: 20;
    box-sizing: border-box;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

nav{
    padding: 1rem;
    background-color: #33ff99;
}

.nav-con{
    display: flex;
    justify-content: space-between;
}

.logo a{
    font-size: 4rem;
    color: black;
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
    margin: 0 0.5rem; 
    text-decoration: none;
}

.menu li a{
    color: brown;
    text-decoration: none;
}
.maincontent-con{
    background-color: rgba(0, 217, 255, 0.384);
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 100%;
    padding: 4rem;
}

.maincontent-info h3{
    font-size: 1.5rem;color: rgb(255, 47, 238);
}

.maincontent-info p{
    margin: 1rem 0;
}

.maincontent-info .maincontent-btn{
    background-color: chocolate;
    color: black;
    padding: 0.5rem;
    border-radius: 100px;
    text-decoration: none;
}

.maincontent-img{
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.content-item img{
    width: 80%;
}

.content-item h4{
    margin-top: 1.5rem 0;
}

.content-item p{
    margin: 1.5rem 0;
    text-decoration: none;
}

.content-item a{
    display: inline-block;
    color: rgb(25, 0, 252);
    background-color: rgb(239, 243, 238);
    padding: 1rem 1rem 1rem;
    border-radius: 10px;
    text-decoration: none;
}

.footer-top{
    margin-top: 2rem;
    padding: 3.5rem;
    background-color: rgb(194, 189, 165);
}

.footer-top-con{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: rgb(236, 229, 158);
    color: #000;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2)h4,
.footer-top-item:nth-child(3)h4{
    margin-bottom: 1rem;
}

.footer-button{
    background-color: rgb(191, 196, 195);
    padding: 1rem;
    text-align: center;
}